<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>bakk_server_web</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilServlet</display-name>
    <servlet-name>UtilServlet</servlet-name>
    <servlet-class>servlets.UtilServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilServlet</servlet-name>
    <url-pattern>/util</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersOverviewServlet</display-name>
    <servlet-name>UsersOverviewServlet</servlet-name>
    <servlet-class>servlets.UsersOverviewServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersOverviewServlet</servlet-name>
    <url-pattern>/useroverview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskOverviewServlet</display-name>
    <servlet-name>TaskOverviewServlet</servlet-name>
    <servlet-class>servlets.TaskOverviewServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskOverviewServlet</servlet-name>
    <url-pattern>/taskoverview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>servlets.UserProfileServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskProfileServlet</display-name>
    <servlet-name>TaskProfileServlet</servlet-name>
    <servlet-class>servlets.TaskProfileServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskProfileServlet</servlet-name>
    <url-pattern>/task_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTaskServlet</display-name>
    <servlet-name>CreateTaskServlet</servlet-name>
    <servlet-class>servlets.CreateTaskServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTaskServlet</servlet-name>
    <url-pattern>/createTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompareServlet</display-name>
    <servlet-name>CompareServlet</servlet-name>
    <servlet-class>servlets.CompareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompareServlet</servlet-name>
    <url-pattern>/compare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>servlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvidenceServlet</display-name>
    <servlet-name>EvidenceServlet</servlet-name>
    <servlet-class>servlets.EvidenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvidenceServlet</servlet-name>
    <url-pattern>/evidence</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
</web-app>